html {
  scroll-behavior: smooth;
}

.btn-custom {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: black;
  color: white;
  cursor: pointer;

}

.btn-custom2 {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;

}

.btn-custom2:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.btn-custom-navbar {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;

}

.btn-custom-navbar:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.btn-custom-navbar2 {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;

}

.btn-custom-navbar2:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.navbar {
    padding: 0 2rem;
    z-index: 1;
    height: 4rem;
    color: white;
  }
  .navbar-brand img {
    max-height: 40px;
    max-width: 200px;
  } 
  .navbar-nav .nav-item {
    margin: 0 1rem;
    color: white;
  }
  .navbar-nav .nav-item .nav-link {
    color: white;
    font-family: "Myanmar MN";
    }

  .navbar-nav .nav-item .nav-link:hover {
    color: #4CAF50;
    }
  .banner {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background-image: url("../images/banner.webp");
    margin-top: -4rem;
  }
  #main-text {
    font-size: 3rem;
    font-family: 'Myanmar MN';
    text-transform: uppercase;
    color: white;
  }

  #sub-text {
    font-size: 1.5rem;
    font-family: 'Myanmar MN';
    color: white;
    text-align: center;
  }

  .section-company {
    margin-top: 3rem;
    height: auto;
    padding-left: 5%;
  }
  
  .section-company h2 {
    font-size: 3rem;
    color: black;
    font-family: 'Myanmar MN';
    font-weight: 500;
  }
  
  .section-company p {
    font-size: 2rem;
    color: black;
    font-weight: 300;
  }

  #green-sub {
    color :#4CAF50;
    font-family: 'Myanmar MN';
    font-size: 1.5rem;
    text-transform: uppercase;
  }


  .col-md-6.h-100.d-flex.align-items-center.justify-content-center {
    padding-right: 0;
 }

 #img-company {
   width: 100%;
   height: 100vh;
   margin-right: -5%;
 }

 #img-design {
  width: 100%;
  height: 100vh;
  margin-left: -5%;
 }
 .section-design {
  height: 100vh;
  padding-right: 5%;
  background-color: black;
}

.section-design h2 {
  font-size: 3rem;
  color: white;
  font-family: 'Myanmar MN';
  font-weight: 500;
}

.section-design p {
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

/* Styling for the section */
.section-vehicules {
  padding: 50px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vehicle-title {
  font-family: "Myanmar MN";
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.vehicle-feature {
  padding: 2rem;
  margin-bottom: 0.5rem;
  border-top-width: 50%;
  border-top: 1px solid black;
  border-top-width: 50%;
  margin: 0 auto;
  padding-left: 0;
}

.feature-title {
  font-family: "Myanmar MN";
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;

}

.section-vehicules-reverse .vehicle-image {
  order: -1;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .section-vehicules-reverse .vehicle-image {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

#presentation-car {
  padding : 2rem;
}

.section-capsules {
  padding: 80px 0;
  height: 100vh;
}

.green-sub {
  font-size: 36px;
  font-weight: bold;
  color: #66bd6d;
  margin-bottom: 30px;
}

.caps-title {
    font-size: 3rem;
    color: black;
    font-family: 'Myanmar MN';
    font-weight: 500;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

p#black-p-company{
  font-size: 2rem;
  color: black;
  font-weight: 300;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 767px) {
  .section-capsules {
    padding: 50px 0;
  }
  
  .green-sub {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .black-p-company {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.video-namx {
  width: 100%;
  height: 100vh;
}

.list-unstyled li a {
  font-size: 1rem;
  color: black;
  font-weight: 300;
  margin-bottom: 1rem;
  text-decoration: none;
}

.list-unstyled li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .section-company, .section-design, .section-vehicules, .section-capsules {
    height : auto;
  }
  #img-company, #img-design {
    height: auto;
  }
  #main-text, #payment-success {
    text-align: center;
    
  }

  .section-company h2, .section-design h2, .section-vehicules h2, .section-capsules h2, .caps-title {
    font-size: 2rem;
  }

  p#black-p-company, p#black-p-design, p#black-p-vehicules, p#black-p-capsules, .section-design p {
    font-size: 1.5rem;
  }

  .btn-custom-navbar, .btn-custom-navbar2{
    display: none;
  }

  .section-company {
    padding: 0;
  }

  #company-section, #design-section, #vehicules-section, #capsules-section {
    margin: 2rem 0 2rem 0;
  }

  #about-us {
    margin: 2rem 0 2rem 0;
  }
}




.payment-title {
  font-size: 2.5rem;
  color: black;
  font-family: 'Myanmar MN';
  font-weight: 500;
}

.payment-price {
  font-size: 1.5rem;
  color: black;
  font-family: 'Myanmar MN';
  font-weight: 500;
}

.banner-success2{
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  background-image: url("../images/Success.webp");
  margin-top: -4rem;
}

.banner-success2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#payment-success {
  font-size: 3rem;
  font-family: 'Myanmar MN';
  color: white;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
} */

.carousel-indicators {
  filter: invert(100%);
}

.btn-custom-model {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  margin-bottom: 3rem;
  width: 100%;
  display: block;
  opacity: 40%;
  font-size: 1.25rem;
}

.btn-custom-model:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: 100%;
}

.left-text, .right-text {
  display: inline-block;
  width: 50%;
}

.right-text {
  text-align: right;
}

#model-choose {
  font-size: 3rem;
  font-family: 'Myanmar MN';
  color: black;
  font-weight: 500;
  margin-bottom: 2rem;
}

#carousselExampleIndicators, #payment-img {
  position: sticky;
  top: 0;
  z-index: 1;
}

.subtitle {
  font-size: 1.5rem;
  color: black;
  font-family: 'Myanmar MN';
  font-weight: 500;
  margin-bottom: 2rem;
}

